---

- name: Install Update CRON
  template:
    src="php-mirror.j2"
    dest="{{ mirror_cron_dir }}/php-mirror"
    owner="{{ mirror_unix_user }}"
    group="{{ mirror_unix_group }}"
    mode=0700

- name: Setup CRON Schedule
  cron:
    name="PHP"
    minute="{{ php_mirror_cron_minute }}"
    hour="{{ php_mirror_cron_hour }}"
    user="{{ mirror_unix_user }}"
    state="present"
    job="{{ mirror_cron_dir }}/php-mirror"
    disabled="{{ php_mirror_cron_disabled }}"
